body {
    font-family: 'Playfair Display', serif;
    background-image: url('../images/freeHotelImage.jpg');
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.bg-custom {
    background-color: hsl(0, 100%, 20%);
}
.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(0, 100%, 20%);
    --bs-btn-border-color: hsl(0, 100%, 20%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(20, 100%, 24%);
    --bs-btn-hover-border-color: hsl(20, 100%, 24%);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
}