body {
    font-family: 'Playfair Display', serif;
}
.layout {
    width: 40%;
}

/* Room Tile */
.room-tile {
    display: flex;
    height: 100px;
    border: 5px solid red;
    color: #fff;
    font-size: 20px;
    background-color: black;
}

.room-holder {
    display: flex;
    height: 100px;
}

.bg-custom {
    background-color: hsl(0, 100%, 20%);
    color: #fff;
}
.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(0, 100%, 20%);
    --bs-btn-border-color: hsl(0, 100%, 20%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(20, 100%, 24%);
    --bs-btn-hover-border-color: hsl(20, 100%, 24%);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.color-custom{
    color: hsl(50, 100%, 33%) !important;
}

.bg-color-custom{
    background-color: hsl(0, 100%, 20%) !important;
}

.custom-border-color{
    border-color: hsl(30, 100%, 26%);
}